vendor
.idea
.vscode

# dev builds
bin-all

# dev config
config/**

# fake data
fake*.json

# benchmark binaries
bench

## Flutter locks
*pubspec.lock

# JSONNET locks
*.lock.json

# db
db
/.srl
/certs/
/.token
/sys-core/service/go/pkg/filesvc/dao/testdata/updatedAvatar.jpg
